.our-technology {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  width: auto;
  height: auto;
  position: relative;
}

.our-technology-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
}

.our-technology-title {
  text-align: center;
  align-items: center;
  height: 5rem;
}

.our-technology-img {
  width: 30%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-technology-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  min-width: 20rem;
}

.our-technology-text {
  width: 45%;
  height: auto;
  padding: 4rem 2rem;
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 0.3rem;
}

@media (max-width: 1024px) {
  .our-technology-container {
    flex-direction: column;
    align-items: center;
  }

  .our-technology-text {
    width: 70%;
    padding: 2rem 1.5rem;
  }

  .our-technology-img {
    width: 70%;
  }

  .our-technology-img img {
    min-width: auto;
  }
}

@media (max-width: 768px) {
  .our-technology-container {
    align-items: center;
  }

  .our-technology-img {
    width: 80%;
  }

  .our-technology-text {
    width: 80%;
    padding: 1.5rem 1rem;
  }
}

@media (max-width: 480px) {
  .our-technology-img {
    width: 100%;
  }

  .our-technology-text {
    width: 100%;
    padding: 1rem 0.5rem;
  }
}
