.contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 15rem;
  overflow: hidden;
  background-image: url('https://img.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg');
  background-position: fixed;
  background-repeat: repeat-x;
  background-size: contain;
}

.contact-us-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-us-button {
  width: auto;
  height: 3rem;
  font-size: 10px;
}
