.pricing-plan {
  padding: 40px 20px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
}

.pricing-title {
  height: 6rem;
  justify-content: center;
  align-items: center;
}

.no-border {
  border-style: none;
  text-align: left;
  width: 30%;
}

.pricing-table {
  width: 75%;
  height: 100%;
  margin: auto;
}

.table-container {
  overflow-x: auto;
}

.sticky-header table thead tr {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

thead tr td {
  font-weight: bold;
}
